body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

header, .formulario{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 50px;

}

li, .img-profile{
    display:inline-block;
    margin: 50px;
}

a{
    color: white;

}

a:hover, form .btn-enviar input:hover{
    color: rgb(132,14,201);
    transition: 0.3s all;
}
h1{
    font-weight: 200;

}

main{
    display: flex;
    flex-direction: space-between;
    margin-top: 50px;
    
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;

}

span{
    color: rgb(143, 107, 185);

}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

.img-profile {
    width: 250px; /* Tamanho da imagem */
    height: 250px; /* Tamanho da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    border: 10px solid #fff; /* Adiciona uma borda branca */
    filter: grayscale(100%);
    object-fit: cover;
}

section.formulario{
    padding: 80px 4%;
    margin-top: 45px;
}

form{
    max-width: 500px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color:rgb(59, 59, 59);
    border: 0;
    outline: 0;
    padding: 20px 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    margin-top:auto

}

button{
    background-color:rgb(34, 34, 34);
    border: 0;
    outline: 0;
    padding: 20px 10px;

}

form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar input{
    width: 120px;
    text-align: center;
    background-color:rgb(143, 107, 185);
    color: #fff;
    font-family: poppinsregular;
    transition: 2.2s;
}

section.project, .agradecimento{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}